/*
COLOR PALETTE
    black: rgb(0,23,50); #001732;
    orange: rgb(241,117,78); #f1754e;
    lightgreen: rgb(78,241,187); #4ef1bb;
    bg-color: rgb(216,238,232); #d8eee8;
    bg-dark-color: rgb(203,224,221); #cbe0dd;
    clicked-cell: rgb(157,197,199); #9dc5c7;
*/

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.win {
    background-color: rgba(78, 241, 187, 0.6);
}

/* regole generiche */
body {
    background-color: rgb(216, 238, 232);
    padding: 16px;
    line-height: 1;
    color: rgb(0, 23, 50);
    font-family: 'Darker Grotesque', sans-serif;
}

.game-container {
    width: 484px;
    margin: 10px auto;
}

/* pannello gioco */
h1 {
    font-size: 40px;
}

.score {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

/* tabellone gioco */
.game-board {
    position: relative;
    border: 2px solid rgb(0, 23, 50);
}

.grid {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cell {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.cell-dark {
    background-color: rgb(203, 224, 221);
}

.cell:hover,
.cell-clicked {
    background-color: rgb(157, 197, 199);
}

.cell-bomb {
    background-color: rgb(241, 117, 78);
    background-image: url('images/bomb.png');
    background-size: contain;
}

.cell-clicked,
.cell-bomb {
    cursor: not-allowed;
}

/* screen fine gioco */
.end-game-screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(241, 117, 78, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.end-game-text {
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.2;
    text-transform: uppercase;
}

button {
    font-size: 24px;
    border: 2px solid rgb(0, 23, 50);
    text-transform: uppercase;
    font-family: 'Darker Grotesque', sans-serif;
    padding: 4px 20px 8px 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(203, 224, 221);
}

.hidden {
    display: none;
}